services:
  - type: web
    name: paypal-java-v6
    runtime: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    plan: free
    envVars:
      - key: PORT
        value: 8080
    healthCheckPath: /

